---
// TachyonFX Code Animation
---

<div class="bg-[#011627]">
  <div
    id="tachyon-canvas"
    class="min-h-[450px] min-w-[500px] rounded-[6px] border border-slate-600 bg-[#011627] p-5"
  >
  </div>
</div>

<script>
  import init, { createRenderer, RendererConfig } from "tachyonfx-renderer";
  import wasmUrl from "tachyonfx-renderer/tachyonfx_renderer_bg.wasm?url";
  import {
    CODE_EXAMPLE,
    CODE_EXAMPLE_2,
    DEFAULT_CANVAS_ANSI,
  } from "../assets/code-example-ansi.ts";

  const COMPLEX_EFFECT = `
    fx::parallel(&[
    fx::sweep_in(Motion::RightToLeft, 15, 0, Color::from_u32(0x1d2021), (1000, Interpolation::BounceOut)),
      fx::coalesce((1000, Interpolation::QuadOut)),
      fx::dissolve_to(Style::default().bg(Color::from_u32(0x1d2021)), 1000)
        .with_pattern(SweepPattern::right_to_left(35))
    ])
  `;

  async function initTachyon() {
    try {
      await init(wasmUrl);

      const config = new RendererConfig("tachyon-canvas")
        .withDsl(COMPLEX_EFFECT)
        .withCanvas(CODE_EXAMPLE);

      const renderer = createRenderer(config);
    } catch (error) {
      console.error("Error:", error);
    }
  }

  initTachyon();
</script>
