---
// CodeEffects.astro
---

<div id="tachyon-id" class="w-[750px] h-[500px] border border-dashed"></div>

<script>
  import init, { createRenderer, RendererConfig } from 'tachyonfx-renderer';
  import wasmUrl from 'tachyonfx-renderer/tachyonfx_renderer_bg.wasm?url';
  import sourceCode from '../../code/tutorials/quickstart-ratatui/src/main.rs?raw';

  const COMPLEX_EFFECT = `
    fx::parallel(&[
      fx::sweep_in(Motion::RightToLeft, 15, 0, Color::Black, (1000, Interpolation::BounceOut)),
      fx::coalesce((1000, Interpolation::QuadOut))
    ])
  `;

  async function initTachyon() {
    try {
      console.log('Initializing with WASM URL:', wasmUrl);
      
      await init(wasmUrl);
      console.log('WASM initialized');

      const config = new RendererConfig('tachyon-id')
        .withDsl(COMPLEX_EFFECT)
        .withCanvas(sourceCode);

      console.log('Creating renderer...');
      const renderer = createRenderer(config);
      console.log('Renderer created:', renderer);

    } catch (error) {
      console.error('Error:', error);
    }
  }

  initTachyon();
</script>

